@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bo2bk1');
  src:  url('fonts/icomoon.eot?bo2bk1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bo2bk1') format('truetype'),
    url('fonts/icomoon.woff?bo2bk1') format('woff'),
    url('fonts/icomoon.svg?bo2bk1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-minus:before {
  content: "\e903";
  color: #dbdbdb;
}
.icon-icon-plus:before {
  content: "\e904";
  color: #dbdbdb;
}
.icon-icon-call:before {
  content: "\e900";
}
.icon-icon-whatsapp:before {
  content: "\e901";
}
.icon-icon-telegram:before {
  content: "\e902";
}
